<div class="item-dialog">
  <mat-icon class="item-dialog__close" (click)="close()">close</mat-icon>
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <label>
        <input matInput type="number" formControlName="id" autocomplete="off">
      </label>
      <mat-error *ngIf="itemForm.get('id').hasError('required')">
        Id is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <label>
        <input matInput type="text" formControlName="name" autocomplete="off">
      </label>
      <mat-error *ngIf="itemForm.get('name').hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <label>
        <input matInput type="text" formControlName="description" autocomplete="off">
      </label>
      <mat-error *ngIf="itemForm.get('description').hasError('required')">
        Description is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date creation</mat-label>
      <label>
        <input matInput [matDatepicker]="createdAt" formControlName="createAt">
      </label>
      <mat-datepicker-toggle matSuffix [for]="createdAt"></mat-datepicker-toggle>
      <mat-datepicker #createdAt></mat-datepicker>
      <mat-error *ngIf="itemForm.get('createAt').hasError('required')">
        Date creation is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date modification</mat-label>
      <label>
        <input matInput [matDatepicker]="editedAt" formControlName="editedAt">
      </label>
      <mat-datepicker-toggle matSuffix [for]="editedAt"></mat-datepicker-toggle>
      <mat-datepicker #editedAt></mat-datepicker>
      <mat-error *ngIf="itemForm.get('editedAt').hasError('required')">
        Date modification is required
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent"
            [disabled]="itemForm.invalid">SAVE
    </button>

  </form>
</div>
